.navbar header{
    overflow: hidden;
    background-color: #333131;
    padding: 20px 10px;
}

.navbar header a{
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.navbar header a.navbar-logo{
    font-size: 25px;
    font-weight: bold;
}

.navbar header:hover{
    background-color:#8cfa7d;
    color: white;
}
.navbar header a.active{
    background-color: #19a007;
    color: white;
}

.navbar header-right a{
    float: right;
}

