
    <link rel="stylesheet" href="nav-bar.component.css">
        <div class="navbar header">
            <a class="navbar-logo">Tech Student News</a>
        </div>
        <div class="navbar header-right">
             <a class= "active" href="../../home/">Home</a>
        <a class= "active" href="../articlesFavoriteTips/">Favorites & Tips</a>
        <a class= "active" href="../articlesFeatureProject/">Featured Project</a>
         <a class="active" href="../events/">Upcoming Events</a>
        <a class="active" href="../suggestions/">Suggestions</a>
    </div>
    
   
