
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Tech Student News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item active ">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class= "nav-link" href="../favorites-tips-articles/">Favorites & Tips</a>
        </li>
        <li class="nav-item">

            <a class= "nav-link" href="../featured-projects-articles/">Featured Project</a>
        </li>

        <li class="nav-item">

            <a class="nav-link" href="../upcoming-events/">Upcoming Events</a>
        </li>
        <!-- <li class="nav-item">

            <a class="nav-link" href="../suggestions/">Suggestions</a>
        </li> -->

      </ul>
     <!-- <a href="../login/" class="btn btn-info" role="button">Login</a>

           THIS IS FOR THE SEARCH BAR IF WE WANT IT IN THE FUTURE
          <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>-->
    </div>
  </nav>
